.myList_title {
  font-size: 1.7rem;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 800;
}

.myList {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  background-color: #fff;
  padding-bottom: 50px;

}

.list_outer {
  margin: 0 auto;
  width: 90%;
  border: 1px solid #ebedf0;
}
.list_nav {
  margin: 0 auto;
  width: 95%;

}

.list_main {
  border-bottom: 1px solid #e8e8e8
}

#sell {
  margin-top: 30px;
}
