.slider {
  background-image: url("baby1.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
}

.letter {
  color: #f1f1f1;
}
.info {
  height: 600px;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
}

.intro {
  width: 50%;
  position: relative;
  top: 150px;
  left: 150px;
  color: white;
}

.main_btn {
  display: inline-block;
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  background-color: #d65050;
  color: white;
  font-weight: 600;
}

.main_btn:hover {
  border: 1px solid #d65050;
  background-color: #0000;
  color: #d65050;
}

@media screen and (max-width: 430px) {
  .slider {
    height: 300px;
  }
  .info {
    height: 300px;
  }
  .intro {
    width: 80%;
    top: 100px;
    left: 15px;
    font-size: 0.75rem;

  }
}
